img {
	width: 100%;
	height: auto;
}

.img-container {
	width: 80%;
	height: auto;
	margin: 0 0 0 auto;

}

.container {
	position: absolute;
	width: 100%
}

h1 {
	text-transform: uppercase;
	margin-left: 10px;
}

canvas {
	position: absolute;
	max-width: 100%;
	height: auto;
}

.dot {
	border: 2px solid #000;
	border-radius: 100%;
}